@media only screen and (min-width: 1024px) {
	.movie {
		width: calc(50% - 2em);
	}
}

@media only screen and (max-width: 1024px) {
	.movies-container {
		margin: 0 auto;
		width: 50%;
		padding: 1em;
		box-sizing: border-box;
	}

	.movie {
		margin: 0 0 1em 0;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.movies-container {
		width: 100%;
	}
}